# Result
results
results_0
results_1
results_zh_verbalizer
table.tsv

# Data


# Task data
all_tsv
data/afqmc/*
# data/autoasr
data/keyboard
data/un-parallel
data/en-zh
src/un_parallel/*.json

# Others
slurm-*.out
wandb
.DS_Store
__pycache__
.vscode